@charset "UTF-8";
@font-face {
  font-family: 'LibreBaskerville';
  src: url("f/LibreBaskerville-Regular.eot");
  src: local("☺"), url("f/LibreBaskerville-Regular.woff") format("woff"), url("f/LibreBaskerville-Regular.ttf") format("truetype"), url("f/LibreBaskerville-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p, ul {
  margin: 1em auto; }

ul li {
  margin-left: 2em; }

button {
  font-size: 1em;
  color: #fff;
  padding: .5em;
  background: #009fbb;
  border: 0;
  border-radius: 5px; }
  button:hover {
    background: #007488; }

header {
  background: rgba(191, 191, 191, 0.7);
  color: #fff;
  text-align: center;
  font-size: .8em;
  position: fixed;
  width: 100%;
  padding: 5px; }
  header h1 {
    font-family: "LibreBaskerville", sans-serif; }
  header span.login {
    position: absolute;
    right: 20px;
    top: 5px; }
    header span.login button:nth-of-type(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 1px solid #bbbbbb; }
    header span.login button:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

section {
  padding: 1em; }
  section h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100; }

img.causeImg {
  width: 100%;
  top: 0px;
  height: 200px;
  z-index: -99; }

main {
  width: 99%;
  margin: 5px auto; }

section.causeDescription {
  width: 63%;
  float: left;
  margin-bottom: 7em; }
  section.causeDescription h1 {
    font-size: 4em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    padding: 0 10px 10px 10px; }
  section.causeDescription img {
    float: left;
    margin: 1em 1em 1em 0; }

section.knowledgeBaseSummary {
  width: 30%;
  float: right;
  border-left: 1px solid #bbbbbb; }
  section.knowledgeBaseSummary ul li {
    font-size: 1.1em; }
  section.knowledgeBaseSummary ul li > ul li {
    font-size: 0.8em; }

section.addAction {
  float: left;
  width: 100%;
  margin: 0;
  background: #bbbbbb;
  position: fixed;
  bottom: 0; }
  section.addAction h1 {
    display: inline-block; }
