@charset "UTF-8";
@font-face {
  font-family: 'LibreBaskerville';
  src: url("f/LibreBaskerville-Regular.eot");
  src: local("☺"), url("f/LibreBaskerville-Regular.woff") format("woff"), url("f/LibreBaskerville-Regular.ttf") format("truetype"), url("f/LibreBaskerville-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("f/RobotoSlab-Regular.eot");
  src: local("☺"), url("f/RobotoSlab-Regular.woff") format("woff"), url("f/RobotoSlab-Regular.ttf") format("truetype"), url("f/RobotoSlab-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p, ul {
  margin: 1em auto; }

ul li {
  margin-left: 2em; }

form {
  font-size: 1.4em; }
  form input[type=submit], form button {
    font-size: .8em; }

input {
  max-width: 100%;
  height: auto; }

button, input[type=submit] {
  font-size: 1em;
  color: #fff;
  padding: .5em;
  background: #009fbb;
  border: 0;
  border-radius: 5px; }
  button:hover, input[type=submit]:hover {
    background: #007488; }

body > header {
  background: rgba(131, 131, 131, 0.7);
  color: #fff;
  text-align: center;
  font-size: .8em;
  position: fixed;
  width: 100%;
  padding: 5px; }
  body > header h1 {
    font-family: "LibreBaskerville", sans-serif; }
  body > header span.login, body > header span.loggedin {
    position: absolute;
    right: 20px;
    top: 5px; }
    body > header span.login button:nth-of-type(1), body > header span.loggedin button:nth-of-type(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 1px solid #bbbbbb; }
    body > header span.login button:nth-of-type(2), body > header span.loggedin button:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  body > header span.loggedin {
    top: 12px; }

section {
  padding: 1em; }
  section h1 {
    font-family: "RobotoSlab", serif;
    font-weight: 100; }

img.causeImg {
  width: 100%;
  top: 0px;
  height: 200px;
  z-index: -99; }

main {
  width: 99%;
  margin: 5px auto; }

section.causeDescription {
  width: 63%;
  float: left;
  margin-bottom: 7em;
  padding-left: 5%; }
  section.causeDescription h1 {
    font-size: 4em;
    font-family: "RobotoSlab", serif;
    font-weight: 100;
    padding: 0 10px 10px 0; }
  section.causeDescription img {
    float: left;
    margin: 1em 1em 1em 0; }

section.knowledgeBaseSummary {
  width: 25%;
  float: right;
  border-left: 1px solid #bbbbbb; }
  section.knowledgeBaseSummary h1 {
    border-bottom: 1px solid #bbbbbb; }
  section.knowledgeBaseSummary ul li {
    font-size: 1.1em; }
  section.knowledgeBaseSummary ul li > ul li {
    font-size: 0.8em; }
  section.knowledgeBaseSummary h2 {
    font-family: "RobotoSlab", serif; }
  section.knowledgeBaseSummary form input {
    float: right; }

section.addAction {
  float: left;
  width: 100%;
  margin: 0;
  background: #bbbbbb;
  position: fixed;
  bottom: 0; }
  section.addAction h1 {
    display: inline-block; }

main.edit, .index main {
  margin-top: 4em; }

.index header h1 {
  font-size: 10em;
  margin: .3em; }

.index main {
  width: 100%; }
  .index main form.causeInit, .index main form.login, .index main h1 {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
    text-align: center; }
    .index main form.causeInit input, .index main form.login input, .index main h1 input {
      font-size: 3em;
      width: 100%;
      text-align: center; }
    .index main form.causeInit input[type=submit], .index main form.login input[type=submit], .index main h1 input[type=submit] {
      font-size: 1.5em;
      width: 30%;
      margin: 1em auto; }
  .index main form.login input {
    font-size: 1em;
    width: 20%;
    margin-top: 1em;
    text-align: left; }
  .index main form.login input[type=submit] {
    font-size: 1em;
    text-align: center; }
  .index main h1 {
    font-size: 7em; }

section.knowledgeBaseSummary > section {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s; }

span.knowledgeBaseHint {
  display: block;
  font-size: .7em; }

span.hint {
  display: block;
  font-size: 1.4rem;
  color: #5e5959; }

textarea#editdescription {
  width: 700px;
  max-width: 80%;
  height: 200px; }
