@font-face {
	font-family: 'RobotoSlab';
	src: url('f/RobotoSlab-Regular.eot');
	src: local('☺'), url('f/RobotoSlab-Regular.woff') format('woff'), url('f/RobotoSlab-Regular.ttf') format('truetype'), url('f/RobotoSlab-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreBaskerville';
	src: url('f/LibreBaskerville-Regular.eot');
	src: local('☺'), url('f/LibreBaskerville-Regular.woff') format('woff'), url('f/LibreBaskerville-Regular.ttf') format('truetype'), url('f/LibreBaskerville-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


$titleFont : 'LibreBaskerville', sans-serif;
$headerFont : 'RobotoSlab', serif;
$bodyFont : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$buttonColor : #009fbb; 
html, body{
	overflow-x: hidden;
}

*{
	padding: 0;
	margin: 0;
	font-family: $bodyFont;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

h1, h2, h3{
	font-family: $headerFont;
}

p, ul{
	margin: 1em auto;
}

ul li{
	margin-left: 2em;
}

h1 a{
	font-family: $titleFont;
	color:#fff;
}

form {
	font-size: 1.4em;
	input[type=submit], button{
	font-size: .8em;
	}
}

input{
	max-width: 100%;
	height: auto
}

button, input[type=submit]{
	font-size: 1em;
	color: #fff;
	padding: .5em;
	background: $buttonColor;
	border: 0;
	border-radius: 5px;
	&:hover{
		background: darken($buttonColor, 10%);
	}
}

body > header{
	background: rgba(0, 106, 166, 0.7);
	color: #fff;
	text-align: center;
	font-size: .8em;
	position: fixed;
	width: 100%;
	padding: 5px;
	z-index: 999;
	h1{
		font-family: $titleFont;
	}
	span.login, span.loggedin{
		position: absolute;
		right: 20px;
		top: 5px;
		button{
			&:nth-of-type(1){
				border-top-right-radius: 0; 
				border-bottom-right-radius: 0;
				border-right: 1px solid #bbbbbb;
			}
			&:nth-of-type(2){
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	span.loggedin{
		top: 12px;
	}
}

section{
	padding: 1em;
	h1{
		font-family: $headerFont;
		font-weight: 100;
	}
}

img.causeImg{
	width: 100%;
	top: 0px;
	height: 200px;
	z-index: -99;
}

main{
	width: 99%;
	margin: 5px auto;
	h1{
		font-size: 3em;
	}
}

main.dash{
	text-align: center;
	margin-top: 4em;
}

section.causeDescription{
	width: 63%;
	float: left;
	margin-bottom: 7em;
	padding-left: 5%;
	h1{
		font-size: 4em;
		font-family: $headerFont;
		font-weight: 100;
		padding: 0 10px 10px 0;
	}
	img{
		float: left;
		margin: 1em 1em 1em 0;
	}
}

section.knowledgeBaseSummary{
	width: 25%;
	float: right;
	border-left: 1px solid #bbbbbb;
	h1{
		border-bottom: 1px solid #bbbbbb;
	}
	ul li{
		font-size: 1.1em;
	}
	ul li > ul li{
		font-size: 0.8em;
	}
	h2{
		font-family: $headerFont;
	}
	form input{
		display: inline-block;
	}
	form h3{
		display: inline;
	}
	section.factSource{
		padding: 0 0 0 1em;
	}
}

section.addAction{
	float: left;
	width: 100%;
	margin: 0;
	background: #bbbbbb;
	position: fixed;
	bottom: 0;
	h1{
		display: inline-block;
	}
}


main.edit, .index main{
	margin-top: 4em;
}

.index header h1{
	font-size: 10em;
	margin: .3em;
}

.index main{
	width: 100%;
	form.causeInit, form.login, h1{
		position:relative;
		width: 90%;
		margin: 12em auto 0 auto;
		text-align: center;
		input{
			font-size: 3em;
			width: 100%;
			text-align: center;
		}
		input[type=submit]{
			font-size: 1.5em;
			width: 30%;
			margin: 1em auto;
		}
	}
	form.login input{
		font-size: 1em;
		width: 20%;
		margin-top: 1em;
		text-align: left;
	}
	form.login input[type=submit]{
		font-size: 1em;
		text-align: center;
	}
}

section.causeThumbs{
	width: 630px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	figure{
		max-width: 200px;
		float:left;
		margin: 5px;
		text-align: center;
	}
}

span.hint{
	display: block;
	font-size: 1.4rem;
	color: #5e5959;
	margin-top: .5em;
}

section.knowledgeBaseSummary span.hint{
	display: block;
	font-size:.8em;
}		

textarea#editdescription{
	width: 700px;
	max-width: 80%;
	height: 200px;
}

button.publishbtn{
	position: absolute;
	bottom: 1em;
	right: 1em;
}