@charset "UTF-8";
/** _mixins.scss **/
@font-face {
  font-family: 'RobotoSlab';
  src: url("f/RobotoSlab-Regular.eot");
  src: local("☺"), url("f/RobotoSlab-Regular.woff") format("woff"), url("f/RobotoSlab-Regular.ttf") format("truetype"), url("f/RobotoSlab-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LibreBaskerville';
  src: url("f/LibreBaskerville-Regular.eot");
  src: local("☺"), url("f/LibreBaskerville-Regular.woff") format("woff"), url("f/LibreBaskerville-Regular.ttf") format("truetype"), url("f/LibreBaskerville-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/******** _base.scss ********/
/**** Common ****/
* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, body {
  overflow-x: hidden;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #0049b6; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3 {
  font-family: "RobotoSlab", serif; }

p, ul {
  margin: 1em auto; }

ul li {
  margin-left: 2em; }

h1 a {
  font-family: "LibreBaskerville", sans-serif;
  color: #fff; }

/***** form elements ******/
form {
  font-size: 1.4em;
  text-align: left; }
  form label {
    text-align: inherit; }
  form input[type=submit], form button {
    font-size: .8em; }

input {
  max-width: 100%;
  height: auto; }

/***** buttons ******/
button, input[type=submit], .btn {
  font-size: 1em;
  color: #fff;
  padding: .5em;
  background: #009fbb;
  border: 0;
  border-radius: 5px;
  cursor: pointer; }
  button:hover, input[type=submit]:hover, .btn:hover {
    background: #007488; }

.createBtn {
  margin-top: 1em;
  font-size: 1.5em !important; }

.warningBtn {
  background-color: #ce0000 !important; }

/**** header *****/
body > header {
  background: rgba(0, 106, 166, 0.7);
  color: #fff;
  text-align: center;
  font-size: .8em;
  position: fixed;
  width: 100%;
  padding: 5px;
  z-index: 999; }
  body > header h1 {
    font-family: "LibreBaskerville", sans-serif;
    width: 10em;
    margin: 0 auto; }
  body > header span.login, body > header span.loggedin {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 1.2em; }
    body > header span.login a:nth-of-type(1), body > header span.loggedin a:nth-of-type(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 1px solid #bbbbbb; }
    body > header span.login a:nth-of-type(2), body > header span.loggedin a:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  body > header span.loggedin {
    top: 12px; }
  body > header span.loggedin > a {
    color: #fece2f; }
  body > header span.loggedin a.logout {
    color: #ff3344; }
  body > header a.editlink {
    color: #fece2f; }
  body > header button.searchbtn {
    float: left; }

.index header h1 {
  font-size: 10em;
  margin: 0.3em auto; }

.navbar-nav > li > a {
  padding: 0;
  display: inline-block; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: none; }

.navbar-right {
  margin-top: -3em;
  float: right; }

section {
  padding: 1em; }
  section h1 {
    font-family: "RobotoSlab", serif;
    font-weight: 100; }

/***** main *****/
img.causeImg {
  width: 100%;
  top: 0px;
  height: 200px;
  z-index: -99; }

main {
  width: 99%;
  margin: 5px auto; }
  main h1 {
    font-size: 3em; }
  main .dash {
    text-align: center;
    margin-top: 4em; }

div#results {
  width: 300px;
  margin: 0 auto;
  text-align: center; }
  div#results ul li {
    list-style-type: none;
    margin-left: -.5em; }

section.causeDescription {
  width: 63%;
  float: left;
  margin-bottom: 7em;
  padding-left: 5%; }
  section.causeDescription h1 {
    font-size: 4em;
    font-family: "RobotoSlab", serif;
    font-weight: 100;
    padding: 0 10px 10px 0; }
  section.causeDescription img {
    float: left;
    margin: 1em 1em 1em 0; }

section.knowledgeBaseSummary {
  width: 25%;
  float: right;
  border-left: 1px solid #bbbbbb; }
  section.knowledgeBaseSummary h1 {
    border-bottom: 1px solid #bbbbbb; }
  section.knowledgeBaseSummary ul li {
    font-size: 1.1em; }
  section.knowledgeBaseSummary ul li > ul li {
    font-size: 0.8em; }
  section.knowledgeBaseSummary h2 {
    font-family: "RobotoSlab", serif; }
  section.knowledgeBaseSummary form input {
    display: inline-block; }
  section.knowledgeBaseSummary form h3 {
    display: inline; }
  section.knowledgeBaseSummary section.factSource {
    padding: 0 0 0 1em; }

#addknowledgebtn, section.lobby textarea, input#fact {
  width: 100%;
  margin: 0 auto; }

section.lobby textarea {
  display: inherit;
  height: 6em;
  max-width: 800px; }

#addknowledgebtn, input#fact {
  display: inline-block;
  margin-top: -2em;
  max-width: 400px; }

section.addAction {
  float: left;
  width: 100%;
  margin: 0;
  background: #3f3394;
  text-align: center;
  position: fixed;
  bottom: -3.2em;
  -webkit-transition: 1s;
  transition: 1s; }
  section.addAction h1 {
    display: block;
    color: #fff;
    margin-top: -0.5em; }
  section.addAction:hover {
    bottom: 0; }

main.edit, .index main {
  margin-top: 4em; }

.index main {
  width: 100%; }
  .index main form.causeInit, .index main form.login, .index main h1 {
    position: relative;
    width: 90%;
    margin: 12em auto 0 auto;
    text-align: center; }
    .index main form.causeInit input, .index main form.login input, .index main h1 input {
      font-size: 3em;
      width: 100%;
      text-align: center; }
    .index main form.causeInit input[type=submit], .index main form.login input[type=submit], .index main h1 input[type=submit] {
      font-size: 1.5em;
      width: 30%;
      margin: 1em auto; }
  .index main form.login input {
    font-size: 1em;
    width: 20%;
    margin-top: 1em;
    text-align: left; }
  .index main form.login input[type=submit] {
    font-size: 1em;
    text-align: center; }

section.causeThumbs {
  width: 630px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }
  section.causeThumbs figure {
    max-width: 200px;
    float: left;
    margin: 5px;
    text-align: center; }

span.hint {
  display: block;
  font-size: 1.4rem;
  color: #5e5959;
  margin-top: .5em; }

section.knowledgeBaseSummary span.hint {
  display: block;
  font-size: .8em; }

textarea#editdescription {
  width: 700px;
  max-width: 80%;
  height: 200px; }

button.publishbtn {
  position: fixed;
  bottom: 2.5em;
  right: 1em;
  z-index: 999; }

main.petition {
  margin-top: 4em;
  text-align: center; }
  main.petition h2 {
    margin-top: 2em; }

div.feedback {
  position: fixed;
  top: 30%;
  top: calc(50% - 200px);
  left: -250px;
  background: rgba(255, 255, 255, 0.9);
  border: solid 2px black;
  border-radius: 15px;
  width: 250px;
  padding: 1em;
  z-index: 999;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s; }
  div.feedback:hover {
    left: -50px; }
  div.feedback form {
    position: relative;
    width: 100%;
    left: 2em; }
  div.feedback h2 {
    font-size: 1.2em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: -1em;
    top: 4em; }
  div.feedback form input, div.feedback form textarea {
    display: block;
    margin-bottom: 1em; }
  div.feedback span {
    font-size: .6em; }
