    ErrorDocument 404 /errorcodes/404.php
    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^cause/(.*)/$ causes/index.php?slug=$1 [QSA,L]